html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: rgb(163, 195, 167);
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#eddystone {
  height: 180px;
  width: 768px;
  max-width: 100%;
}

#status {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #870052;
  font-size: 16px;
}

.vertical-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  animation-fill-mode: both;
  animation-duration: 0.4s;
  animation-name: fadeInDown;
}

#header {
  color: rgb(110, 145, 124);
  font-size: 80px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

body.error #header {
  color: #993333;
}

#status {
  display: flex;
}

#status {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

#status #message {
  display: table-cell;
  padding: 2.2em 1em;
}

a, a:hover, a:active {
  color: #fff;
}

#status .modes {
  font-size: 0.6em;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.5em;
  vertical-align: middle;
  margin: 0 0.5em;
}

.error {
  background-color: #ff9999;
}

.active {
  background-color: rgb(110, 145, 124);
}

body.error .active {
  background-color: #993333;
}

#dialog {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
}

input {
  float: left;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  height: 45px;
  border: 2px solid #fafafa;
  padding: 0 10px;
}

#input {
  box-shadow: none;
  -webkit-appearance: caret;
  font-size: 22px;
  width: 70%;
}

#submit {
  -webkit-appearance: none;
  width: 30%;
  font-size: 15px;
  background-color: #d40963;
  color: #fafafa;
  text-transform: uppercase;
  cursor: pointer;
}

.labels {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  clear: left;
}

.label {
  font-size: 0.8em;
  margin: 1em 0 0.5em 0.5em;
  color: #333;
  padding: 0.3em 0.5em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.label.on {
  background-color: #b0ca3b;
}

.label.off {
  color: #868686;
  background-color: #e1e1e1;
}

.label.desc {
  color: #fff;
  cursor: default;
}

.hide {
  display: none;
}

.key {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  box-shadow: 1px 1px #660033;
}

.url-wrapper {
  position: relative;
}

.url-history {
  position: absolute;
  bottom: calc(0px - 100%);
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: transparent;
}

.url-history li, .url-history li a {
  padding: .25em 0;
  color: #000;
  display: block;
}

.url-history li {
  opacity: .5;
}

.url-history li:hover {
  opacity: .8;
}

.url-history li:nth-child(5) {
  background-color: #f1f1f1;
}

.url-history li:nth-child(4) {
  background-color: #e1e1e1;
}

.url-history li:nth-child(3) {
  background-color: #d1d1d1;
}

.url-history li:nth-child(2) {
  background-color: #c1c1c1;
}

.url-history li:nth-child(1) {
  background-color: #b1b1b1;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
